<!-- Adminlogin.html -->
<div class="container">
 <div id="header">
 <h2>admin manage </h2>
</div>
   
  <nav class="navbar navbar-default">
  <div class="container-fluid" ng-controller="adminController">
    
   
			<div>
				<ul class="pagination pagination-lg"">

					<li><a href="#/newcompany">add new company</a></li>
					<li><a href="#/newcustomer">add new customer</a></li>
					<li><a href="#/managecompany">manage company</a></li>
					 <li><a href="#/customer">manage customer</a></li> 
					 <li><a href="#/incomes">view incomes</a></li> 
					  <li><a href="#/" >logout</a></li> 
	
					
					
				</ul>
			</div>
		</div>
</nav>
<style type="text/css">
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}
</style>
</div>