<!-- Adminlogin.html -->
<div class="container">
<div id="header">
 <h2>company manage </h2>
</div>
    
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div>
      <ul class="pagination pagination-lg"">
       
        <li><a href="#/newcoupon">add new coupon</a></li>
        <li><a href="#/compcoupons">company coupons</a></li>
         <li><a href="#/compcouponby">company coupons by</a></li>
          <li><a href="#/compincomes">company incomes </a></li>
          <li><a href="#/">logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<style >
#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px;
}
</style>
</div>