<!-- Adminlogin.html -->
<div class="container">
	<div id="header">
		<h1>display customer</h1>
	</div>


	<h1>view all customers</h1>

	<p>
		filter by id<input type="text" ng-model="id">
	</p>
	<div ng-controller="adminController" id="nav" ng-init="viewAllcust()">
		<input type="button" class="btn btn-primary" value="refresh"
			ng-click="viewAllcust()" /><br />


		<table boder="20" st-table="rowCollection" class="table table-striped">
			<thead>
				<tr>

					<th>id</th>
					<th>customer name</th>
					<th>password</th>



				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customer in customers.customer  |filter:id">
					<td>{{customer.id}}</td>
					<td>{{customer.custName}}</td>
					<td>{{customer.password}}</td>



				</tr>
			</tbody>
		</table>

	</div>

	<div ng-controller="adminController" id="section">

		<h1>delete customer</h1>

		id<input type="text" ng-model="id"><br /> <input
			type="button" class="btn btn-primary" value="delete customer"
			ng-click="erasecustomer()" /> <input type="button"
			class="btn btn-primary" value="delete another"
			onclick="myFunction1()" /><br />

	</div>
	<h1>update customer</h1>
	<div ng-controller="adminController" id="nav" align="left">
		<input type="text" ng-model="id">id<br /> <input type="text"
			ng-model="pass">pass <br /> <input type="button"
			class="btn btn-primary" value="update customer"
			ng-click="updatecustomer()" /> <input type="button"
			class="btn btn-primary" value="update another"
			onclick="myFunction1()" /><br />
	</div>
</div>
<input type="button" class="btn btn-success" value="refresh page"
	onclick="myFunction1()" />
<a href="#/adminPage" class="btn btn-success"> Back to admin</a>
<style type="text/css">
#header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
}

#footer {
	background-color: black;
	color: white;
	clear: both;
	text-align: center;
	padding: 10px;
}
</style>
</div>