<!-- Adminlogin.html -->
<div class="container">
	<div id="header">
		<h1>customer</h1>
	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			
			<div>
				<ul class="pagination pagination-lg"">

					<li><a href="#/custcoupons">cusromer coupons</a></li>
					<li><a href="#/custcouponsprice">cusromer coupons by
							price/TYPE</a></li>
					<li><a href="#/purchasecoupons">purchase coupons</a></li>
					<li><a href="#/">logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
<style type="text/css">
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}
</style>
</div>