
<div class="container">
 <div id="header">
  <h2>please insert the coupon details </h2>
</div>
  
    <div  ng-controller="companyController" id="nav" align="left">
     		 <input type="text" ng-model="amount">amount<br /> 
					<td><select ng-model="startD" size="1" >
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							
					</select></td>
					<td><select ng-model="startM"size="1" >
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
			
					</select></td>
					</select></td>
					<td><select ng-model="startY"size="1" >
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
							<option value="2023">2023</option>
							
			
					</select></td>
			    start date<br /> 
			 <td><select ng-model="endD" size="1" >
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							
					</select></td>
					<td><select ng-model="endM"size="1" >
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
			
					</select></td>
					</select></td>
					<td><select ng-model="endY"size="1" >
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
							<option value="2020">2020</option>
							<option value="2021">2021</option>
							<option value="2022">2022</option>
							<option value="2023">2023</option>
							
			
					</select></td>
			    end date<br />
			<input type="text" ng-model="price">price<br /> 
			  <input type="text" ng-model="message">message  <br /> 
			<select ng-model="type" ng-change="getnewcoup()">
		<option ng-repeat="x in types">{{x.value}}</option>
	</select>type
			<br /> 
			 <input type="text" ng-model="title">title<br />

      <input type="button" class="btn btn-primary" value="add  coupon" ng-click="getnewcoup()" />
	<input	type="button" class="btn btn-primary"  value="add another "  onclick="myFunction1()" /><br />
        <hr/>  
        <h1>Upload a File</h1>

    <form action="rest/company/imageUpload/" method="post" enctype="multipart/form-data">

       <p>

        Select a file : <input type="file" name="file" size="50" />

       </p>

       <input type="submit" value="Upload It" />

    </form>
     
			
	
				
		</div>
		<input	type="button" class="btn btn-success"  value="refresh page"  onclick="myFunction1()" />
     <a href="#/CompanyPage"class="btn btn-success"> Back to company</a>
     <style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;

}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}
</style>
</div>