<!-- Adminlogin.html -->
<div class="container" >
<div id="header">
    <h2>please insert the company details </h2>
  
</div>

		<div ng-controller="adminController" id="nav" class="form-group">
			name<input type="text" ng-model="CustName" class="form-control"><br /> 
			pass: <input type="text" ng-model="pass" class="form-control"> 
			<input type="button" class="btn btn-primary"  value="add  customer" ng-click="getnewcust()" />
				<input	type="button" class="btn btn-primary"  value="add another "  onclick="myFunction1()" /><br /> 
			<input	type="button" class="btn btn-success"  value="refresh page"  onclick="myFunction1()" />	
		<a href="#/adminPage"  class="btn btn-success"> Back to Admin</a>
		</div>
    
     		<img src="comp.jpg" class="img-thumbnail" alt="Cinque Terre" width="500" height="500" aligh="right">
    
     <style type="text/css">
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:10px;
    background-color:lightblue;
    height:300px;
    width:300px;
    float:left;
    padding:5px; 
}


#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:10px; 
}
</style>
</div>